@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    height: var(--tg-viewport-stable-height, 100vh);
    width: 100%;
    margin: 0px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, #0051ff 40%, #0185e9 80%);
    box-sizing: border-box;
    overflow: hidden;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

/*header*/
header{
    padding: 0px 10px;
    display :flex;
    align-items: center;
    width: 100%;
}
header .icon{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;

}
header .icon img{
        height: 100%;
}
header button{
    background: #ffffff;
    border: solid 1.5px;
    padding: 5px 10px;
}

/* Game */
.game{
    /* background: red; */
    height: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* coins */
.counter{
    display: flex;
    align-items: center;
    gap: 5px;
}
.coins{
    font-size: x-large;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    transition: transform 0.2s ease;
}
.coins.animate{
    transform: scale(1.2);
}
.coins-img{
    height: 20px;
}

/* click game */

main{
    width: 100%;
}
.game-border{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game .click{
    border: solid 1px #ffffff82;
    padding: 30px;
    border-radius: 50%;
    animation: anime 2s infinite ;
}
.game .border{
    border: solid 1px #ffffff40;
    padding: 30px;
    border-radius: 50%;
    animation: anime 2s infinite ;
}
.game .click-coin{
    height: 200px;
    filter: drop-shadow(0px 0px 7rem #ffffff);
}

/* farming */
.farming{
    width: 100%;
    margin: 10px;
}
.tasks{
    border: solid .5px #9fd7ffd3;
    background: #44a2ff;
    padding: 10px;
    border-radius: 10px;
}

/* navbar */
.navbar{
    height: 8vh;
    /* background: #ffffff; */
    border: solid .5px #9fd7ffd3;
    background: #44a2ff;
    width: -webkit-fill-available;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}


@keyframes anime {
    0% {
        padding: 0px;
        border-color: #ffffffc5;
    }
    50% {
        border-color: #ffffff7d;
    }
    100% {
        padding: 30px;
        border-color: #ffffff00;
    }
}